// SCSS
.hero {
  height: $hero-height;
}

.footer {
  background-color: $footer-background-color;
  width: 100%;
  height: 100% - $hero-height;

  div {
    float: right;
    margin-top: .75em;
    margin-right: 1em;
  }
}

.is-text-centered {
  text-align: center;
}

.is-centered {
  justify-content: center;
}

.container {
  text-align: center;

  .form {
    display: inline-block;
  }
}

.field.field {
  margin-bottom: 1.5em;
}

#url-div {
  width: 20em;
}

#custom-div {
  width: 10em;
}

#expiry-div {
  width: 12em;
}

.field-label {
  text-align: left;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;

  &.check {
    stroke: $nord14;
  }

  &.x {
    stroke: $nord12;
  }

  &.sun {
    stroke: $nord0;
  }

  &.moon {
    stroke: $nord4;
  }
}

.placeholder {
  color: $input-placeholder-color;
}

#select-theme {
  cursor: pointer;
}
