@import "nord";

// Goly dark
$title-color: $nord5;
$body-background-color: $nord3;
$footer-background-color: $nord0;
$input-color: $nord4;
$input-background-color: $nord5;
$input-placeholder-color: $nord9;
$info: $nord10;
$primary: $nord7;
$text: $nord4;
$label-color: $text;

$input-color: #000;

@import "bulma";

@import "styles";
