@import "nord";

// Goly light
$title-color: $nord1;
$body-background-color: $nord7;
$footer-background-color: $nord9;
$input-color: $nord1;
$input-background-color: $nord6;
$input-placeholder-color: $nord9;
$info: $nord3;
$primary: $nord10;
$text: $nord0;
$label-color: $text;

@import "bulma";

@import "styles";
